<%= form_with model: @dbfile, url: process_file_dbfile_path, method: :post, format: :html do |f| %>
  <div class="container scroller">
    <table class="table">
      <thead>
        <tr>
          <% @final_headers.each_with_index do |col, index| %>
            <th scope="col">

              <%= f.fields_for :col_indexs do |column| %>
                <%= column.select :"#{index}", options_for_select(APP_VAR["#{@headers}"].map {|k, v| [v.to_s, k]}.sort, select_headers(@rows[0], index, @headers, col)), {:include_blank => true}, :class=>"form-select form-select-sm w-100px" %>
              <% end %>

            </th>
          <% end %>
        </tr>
      </thead>
      <thead>
        <tr>
          <% @final_headers.each_with_index do |col, index| %>
            <th scope="col"><%= @rows[0][index] %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
          <tr>
            <% @final_headers.each_with_index do |col, index| %>
              <td><%= @rows[1][index] %></td>
            <% end %>
          </tr>
          <tr>
            <% @final_headers.each_with_index do |col, index| %>
              <td><%= @rows[2][index] %></td>
            <% end %>
          </tr>
          <tr>
            <% @final_headers.each_with_index do |col, index| %>
              <td><%= @rows[3][index] %></td>
            <% end %>
          </tr>
          <tr>
            <% @final_headers.each_with_index do |col, index| %>
              <td><%= @rows[4][index] %></td>
            <% end %>
          </tr>
          <tr>
            <% @final_headers.each_with_index do |col, index| %>
              <td><%= @rows[5][index] %></td>
            <% end %>
          </tr>

          <tr>
            <% @final_headers.each_with_index do |col, index| %>

              <%= f.fields_for :empty_cols, index: index do |col| %>
                <% if is_column_empty?(@dbfile, index, 2) %>
                  <td>
                    <%= col.text_field :empty_value, class:"form-control", placeholder:"Colonne vide" %>
                  </td>
                <% else %>
                  <td>
                    <%= col.hidden_field :empty_value, class:"form-control", placeholder:"Colonne vide" %>
                  </td>
                <% end %>
              <% end %>

            <% end %>
          </tr>
      </tbody>

    </table>
  </div>

  <div class="row my-3">
    <label class="form-label col-sm-2">Première ligne à traiter</label>
    <div class="col-sm-2">
      <%= f.number_field :first_row, step: 1, value: 2, class:"form-control", required: true %>
    </div>
  </div>

  <div class="row my-3">
    <label class="form-label col-sm-2">Ligne des headers</label>
    <div class="col-sm-2">
      <%= f.number_field :headers_row, step: 1, value: 1, class:"form-control", required: true %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <%= f.hidden_field :format, value: @format %>
      <%= f.hidden_field :distance, value: @distance %>
      <%= f.hidden_field :manif_key, value: @manif_key %>
      <%= f.hidden_field :race_key, value: @race_key %>
      <%= f.hidden_field :distance, value: @distance %>
      <%= f.hidden_field :event_name, value: @event_name %>
      <%= f.submit 'Générer le fichier', class:"btn btn-primary"%>
    </div>
  </div>


<% end %>

<script>
  element = document.getElementById('traiter')
  element.classList.add('active');
</script>