<%= form_with url:"dbfiles/process", method: :post do |f| %>
<div class="container scroller">
<table class="table">
  <thead>
    <tr>
      <% @headers.each do |col| %>
        <%#= f.select :work_entity, options_for_select(APP_VAR['variables'].map {|k| [k]}, APP_VAR['variables']), {:include_blank => false}, :class=>"form-select form-select-sm w-100px" %>
        <th scope="col">
          <select class="form-select form-select-sm w-100px">
            <option selected disabled value="">Choose...</option>
            <option>...</option>
          </select>
        </th>
      <% end %>
    </tr>
  </thead>
  <thead>
    <tr>
      <% @headers.each do |col| %>
        <th scope="col"><%= col %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
      <tr>
        <% @headers.each_with_index do |col, index| %>
          <td><%= @row1[index] %></td>
        <% end %>
      </tr>
      <tr>
        <% @headers.each_with_index do |col, index| %>
          <td><%= @row2[index] %></td>
        <% end %>
      </tr>
      <tr>
        <% @headers.each_with_index do |col, index| %>
          <td><%= @row3[index] %></td>
        <% end %>
      </tr>
      <tr>
        <% @headers.each_with_index do |col, index| %>
          <td><%= @row4[index] %></td>
        <% end %>
      </tr>

      <tr>
        <% @headers.each_with_index do |col, index| %>
          <% puts "FILE QUERYYYYY" %>
          <% if is_column_empty?(@dbfile, index, 2) %>
            <td><input type="email" class="form-control" placeholder="Colonne vide"></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
  </tbody>

</table>
</div>


<% end %>


<%= form_with model: @dbfile, url: process_file_dbfile_path, method: :post, format: :html do |f| %>
  <%= f.select :format, options_for_select([['Freshstart', 1], ['FFTri', 2]]) %>
  <%= f.submit %>
<% end %>


